inputs/*
logs/*
outputs/*
weights/*
__pycache__/
.vscode/
.ipynb_checkpoints/
*.pyc
object_detection/*

# exception to the rule
!inputs/.gitkeep 
!logs/.gitkeep 
!outputs/.gitkeep 
!weights/.gitkeep
!inputs/train_bbox.csv
!inputs/train_bbox.csv.bak
!inputs/test_bbox.csv
!inputs/test_bbox.csv.bak
